Source: filebench
Section: utils
Priority: extra
Maintainer: Martin Steigerwald <ms@teamix.de>
Uploaders: Alexandre Mestiashvili <alex@biotec.tu-dresden.de>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, help2man, bison
Standards-Version: 3.9.3
Homepage: http://sourceforge.net/projects/filebench/
Vcs-Git: git://anonscm.debian.org/collab-maint/filebench.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/filebench.git

Package: filebench
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: File system and storage benchmark for a variety of workloads
 Filebench is a filesystem and storage backup that can generate a high
 variety of workloads. It employs extensive Workload Model Language (WML)
 for detailed workload specification. It includes popular pre-defined
 workloads like: webserver, fileserver, varmail. It reports throughput
 and latency histograms.
