Source: filebench
Section: utils
Priority: extra
Maintainer: Martin Steigerwald <ms@teamix.de>
Uploaders: Alexandre Mestiashvili <alex@biotec.tu-dresden.de>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, help2man
Standards-Version: 3.9.2
Homepage: http://sourceforge.net/projects/filebench/
Vcs-Git: git://git.debian.org/collab-maint/filebench.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/filebench.git;a=summary

Package: filebench
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: is a file system and storage benchmark 
 that allows to generate a high variety of workloads.
 It employs extensive Workload Model Language (WML) 
 for detailed workload specification.
 Includes popular pre-defined workloads: webserver, fileserver, varmail, etc.
 Reports throughput and latency histograms
